html{
    font-family: 'Montserrat', sans-serif;
    background-color: #cccccc;
}

.color-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color-choice{
    font-size: 30px;
}

button{
    font-size: 20px;
    
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;

}

#title{
    text-align: center;
    font-size: 100px;
    color: rgb(0, 0, 0) ;
    font-weight: 500;
}

.slider-comment{
    margin-top: 30px;
    margin-bottom : 15px;
    font-size:30px;
}

#size {
    width: 400px;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;

}

.container {
    width :500px;
    height:500px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-color: red;
}

.mainBody{
    display: flex;
    justify-content: center;
    
}


.box{
    border:solid ;
    border-width: 1px;
    border-color: black;
    height: 122px;
    width: 122px;

}

.color-select{
    display: flex;
}